:root {
    color-scheme: dark;
}

H1 { color: #0084ff ; }
H2 { color: #0084ff ; }
H3 { color: #0084ff ; }
H4 { color: #0084ff ; }
H5 { color: #0084ff ; }
H6 { color: #0084ff ; }

A { color: #ff7b00 ; line-height: 1.8em ; }
